<h1>Users</h1>
<% @users.each do |user| %>

<div class = "profile">
  <p>
   	<%= image_tag user.image.url(:small) %><br>
    User Name: <%= user.name %><br>
    Job Title: <%= user.job_title %><br>  
    Email: <%= user.email %><br>
  </p>
<% end %>

</div>