/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
	background-color: #087E8B;
	font-family: 'ABeeZee', sans-serif;
	color: 253031;
}
header{
	background-color: #AC80A0;
	margin: 0 100px 0 100px;
}

h1{
	font-family: 'Ubuntu', sans-serif;
	font-size: 60px;
}

li {
  list-style-type: none;
  text-decoration: none;
}

nav{
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 20px;
}


nav li {
  display: inline;
  padding: 30px;


}

a {
  color: #092b7a;
  /*font-family: */

}

/*#740000*/