// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jobDisplay {
  margin-bottom: 10px;
}

.jobLinks li {
  float: left;
  margin-right: 5px;
}

#cargo {
  width: 100px;
  display: block;
}