<ul>
  <% @boats.each do |boat| %>
    <p>  
      <li>Boat Name: <%= boat.name %></li>
      <li>Containers: <%= boat.containers %></li>
      <li><%= link_to "Delete Boat", boat_path(boat), method: :delete %></li>
    </p>
  <% end %>

  <%= link_to "Add a Boat?", new_boat_path %>
</ul>